
<h1>Bars for <%= @foo.name %></h1>

<%= link_to 'New Bar', new_foo_bar_path(@foo) %>
<table>
  <thead>
  <tr>
    <th>Имя</th>
    <th>Описание</th>
    <th colspan="3"></th>
  </tr>
  </thead>
  <tbody>
  <% @bars.each do |bar| %>
    <tr>
      <td><%= bar.name %></td>
      <td><%= bar.description %></td>
      <td><%= link_to 'Просмотр', foo_bar_path(@foo, bar) %></td>
      <td><%= link_to 'Редактирование', edit_foo_bar_path(@foo, bar) %></td>
      <td><%= button_to 'удалить', foo_bar_path(@foo, bar), method: :delete, data: { confirm: 'Вы уверены?' } %>
    </tr>
  <% end %>
  </tbody>
</table>

<%= link_to 'назад к Foo', foo_path(@foo) %>
