
<h1>Foos</h1>

<%= link_to 'создать foo', new_foo_path %>
<table>
  <thead>
  <tr>
    <th>ИМЯ</th>
    <th>Описание</th>
    <th colspan="3"></th>
  </tr>
  </thead>
  <tbody>
  <% @foos.each do |foo| %>
    <tr>
      <td><%= foo.name %></td>
      <td><%= foo.description %></td>
      <td><%= link_to 'смотреть', foo %></td>
      <td><%= link_to 'редактировать', edit_foo_path(foo) %></td>
      <td><%= button_to 'удалить', foo, method: :delete, data: { confirm: 'Вы уверены?' } %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
